/* =========================================================
   AUTH RTL
========================================================= */

html {
    direction: rtl;
}

body {
    direction: rtl;
    text-align: right;
}


/* Input Group */

.input-group > .input-group-text:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .form-control {
    text-align: right;
}

.input-group > .password-toggle:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/* Forgot Password */

.auth-card .d-flex.justify-content-between {
    direction: rtl;
}


/* Submit Icon */

.auth-btn-icon {
    margin-left: 1px;
}


/* Footer */

.auth-card-footer {
    direction: rtl;
}